* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.container-home {
    background-color: rgba(0, 0, 0, 0.473);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home {
   display: flex;
   align-items: center;
   flex-direction: column;
}

.home h1 {
    font-size: 80px;
    color: #FFF;
}

.home a {
    text-align: center;
    text-decoration: none;
    color: #FFF;
    border: 1px solid #FFF;
    margin-top: 10px;
    padding: 8px 15px;
    font-size: 20px;
}

.home a:hover {
    color: #ffffffd5;
}

.container-aboutMe {
    width: 100%;
    height: 100vh;
    background-color: rgb(17, 17, 17);
}

.content-aboutMe {
    width: 90%;
    margin: auto;
    height: 100%;
    display: flex;
}

.aboutMe-img {
    flex:1;
    background-image: url("./asset/img/Hand\ coding-amico.svg");
    background-repeat: no-repeat;
    margin-bottom: 80px;
}
.aboutMe-text {
    flex: 1;
    display: flex;
    align-items: center;
}

.aboutMe-text ul {
    list-style: none;
}

.aboutMe-text ul li {
    margin-top: 25px;
    font-size: 30px;
    color: #FFF;
}

